<nav>
  <div>
    <a class="navbar-brand" [routerLink]="''"><b>Main</b></a>
  </div>
  <div>
    <ul>
      <li>
        <a class="nav-link" [routerLink]="'/viewencapsulation-emulated'">ViewEncapsulation.Emulated</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="'/viewencapsulation-none'">ViewEncapsulation.None</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="'/viewencapsulation-shadowdom'">ViewEncapsulation.ShadowDom</a>
      </li>
    </ul>
  </div>
</nav>
<hr/>
<router-outlet></router-outlet>
